<%= form_for([@product, @flags], remote: true, :html => { :role => "form" }) do |f| %>
<div id="response">
</div>
 
<div class="row">
 <div class="col-sm-6">
  <div class="form-group">
    <% for reason in Flag::REASONS %>
      <div class="checkbox">
	    <label>
        <%= check_box_tag 'flags[reasons][]', reason %> 
   
    		<span class="push-xs-left"><%= reason %><span>
	    	
	    	</label>
		</div>
    <% end %>
 

   <%= f.submit  "Save", :class => "btn btn-primary" %>
 </div>
</div>
</div>
<% end %>