.thumbnail {
	height: 50px;
	width: 50px;
}

.card-gallery {
	width: 90%;
	position: relative;
	margin-right: auto;
	margin-left: auto;
}
.card-deck{
	margin-bottom: 20px;
}
label{
	padding-right:3em;
}
.card-image {
	height:100px;
	width: 280px;
}

.form-group{
	margin:1.25rem;
}
.page-nav{
	position: relative;
	margin-left: auto;
	margin-right: auto;
}