<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="description" content="">
		<meta name="author" content="Anna Selonick">
		<title>Edmodo Search</title>
		<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
		<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
		<%= csrf_meta_tags %>

	</head>
	<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">
		<nav class="navbar navbar-light">

			<a class="navbar-brand pull-lg-left" href="/">Edmodo Search and Flag</a>
				<form class="push-sm-right">

					<input class="form-control" type="text" placeholder="Search">
					
				</form>

		</nav>
		<div class ="container">
			<div class = "row">
				<%= yield %>
			</div>
		</div>
</body>
</html>